<#assign goods="elec" />
<#include "/inc/base.html" />
<#macro head>
    <script src="${host}/static/js/lc/elecIndex.js"></script>
    <style>
        .mainc{
            margin: 0 auto;position:relative;padding:0;
            background: url('${host}/static/theme/znrh/elec/tree.png') no-repeat 50% 50%;background-size: 100% 80%;
        }
        .mainc .node{position: absolute;height:74px;width:80px;display:flex;align-items:center;justify-content:center;text-align: justify;cursor:pointer;
            background: url('${host}/static/theme/znrh/elec/leaf.png') no-repeat 50% 50%;background-size: 100% 100%;padding:0;
        }
        .mainc .node1{left:41.1%;top:-2.3%;}
        .mainc .node2{left:16.2%;%;top:5.5%;}
        .mainc .node3{left:1%;top:12.1%;}
        .mainc .node4{left:5.5%;top:34.1%;}
        .mainc .node5{left:22.5%;top:44.5%;}
        .mainc .node6{left:-3%;top:52%;}
        .mainc .node7{left:54%;top:16.1%;}
        .mainc .node8{left:86%;top:38.5%;}
        .mainc .node9{left:66.7%;top:3.5%;}
        .mainc .node10{left:63.6%;top:31.5%;}
        .mainc .text a{color:#efefef;font-size:1.05em;text-align:center;}
        .mainc .text a:hover,.mainc a:visited{color:#2ab7ff;}
        .mainc .tip{position:absolute;display: none;white-space: nowrap;z-index: 9999999;background-color: rgba(50, 50, 50, 0.7);
            border: 0px solid rgb(51, 51, 51);border-radius: 4px;transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1), top 0.4s cubic-bezier(0.23, 1, 0.32, 1);
            font-size: 14px;font-family:Microsoft YaHei;line-height: 21px;padding: 5px;left: 71px;top: 5px;color: rgb(255, 255, 255);}
        .ball{display:inline-block;margin-right:5px;border-radius:10px;width:10px;height:10px;}

        .ring{
            position: absolute;bottom:-25%;
            width: 100%;  height: 100%;
            background-image: url("${host}/static/theme/znrh/elec/ring.png");  background-size: 100% 100%;
            backface-visibility:hidden;
            animation: rotate1 5s linear 0s infinite;
        }

        @keyframes rotate1 {
            0% {
                transform: rotateX(80deg) rotateY(0deg) rotateZ(0deg);
            }
            100% {
                transform: rotateX(80deg) rotateY(0deg) rotateZ(-360deg);
            }
        }
    </style>
</#macro>

<#macro body>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="gc row qpage">
        <div class="gi-left x0 w3 h10">
            <div class="w12 h5">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">煤气联合循环发电量趋势</span></div>
                    <div id="chart1" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h5">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title2">单位发电CO<sub>2</sub>排放量排名</span>
                        <div id="chart5_comb" class="qs_comb"></div>
                    </div>
                    <div id="chart5" class="qs_body"></div>
                </div>
            </div>
        </div>
        <div class="w8 h12">
            <div id="main" class="w12 h12 qpanel0">
                <div style="width:60%;height:10%;margin:0 auto;">
                    <span class="qs_title2">二氧化碳减排贡献</span>
                    <div id="main_comb" class="qs_comb"><select class="selectpicker form-control"><option selected>2018-11</option></select></div>
                </div>
                <div class="mainc" style="width:60%;height:90%;">
                    <div class="qs_header">

                    </div>
                    <div class="node node1" index="0"></div>
                    <div class="node node2" index="1"></div>
                    <div class="node node3" index="2"></div>
                    <div class="node node4" index="3"></div>
                    <div class="node node5" index="4"></div>
                    <div class="node node6" index="5"></div>
                    <div class="node node7" index="6"></div>
                    <div class="node node8" index="7"></div>
                    <div class="node node9" index="8"></div>
                    <div class="node node10" index="9"></div>
                    <div class="ringpan"><div class="ring"></div></div>
                </div>
            </div>
        </div>
        <div class="gi-right x9 w3 h10">
            <div class="w12 h5">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">CO<sub>2</sub>排放量趋势</span>
                        <div id="chart3_comb" class="qs_comb"><select class="selectpicker form-control"><option selected>2018-11</option></select></div>
                    </div>
                    <div id="chart3" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h5">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title2">CO<sub>2</sub>排放量排名</span>
                        <div id="chart4_comb" class="qs_comb"></div>
                    </div>
                    <div id="chart4" class="qs_body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</#macro>