<#assign goods="elec" />
<#include "/inc/base.html" />
<#macro head>
    <script src="${host}/static/lib/amcharts/core.js"></script>
    <script src="${host}/static/lib/amcharts/charts.js"></script>
    <script src="${host}/static/lib/amcharts/themes/animated.js"></script>
    <script src="${host}/static/js/lc/elecIndex.js"></script>
</#macro>

<#macro body>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="gc row qpage">
        <div class="w8 h12">
            <div id="main" class="w12 h8 qpanel0"></div>
            <div class="w6 h4">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">煤气联合循环发电量趋势</span></div>
                    <div id="chart1" class="qs_body"></div>
                </div>
            </div>
            <div class="w6 h4">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">煤气联合循环发电量排名</span></div>
                    <div id="chart2" class="qs_body"></div>
                </div>
            </div>
        </div>
        <div class="w4 h12">
            <div class="w12 h4">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">CO2排放量趋势</span></div>
                    <div id="chart3" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h4">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">CO2排放量排名</span></div>
                    <div id="chart4" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h4">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">单位发电CO2 排放量排名</span></div>
                    <div id="chart5" class="qs_body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</#macro>