<#assign goods="gas" />
<#include "/inc/base.html" />
<#macro head>
    <script src="${host}/static/lib/amcharts/core.js"></script>
    <script src="${host}/static/lib/amcharts/charts.js"></script>
    <script src="${host}/static/lib/amcharts/themes/animated.js"></script>
    <script src="${host}/static/js/lc/gasIndex.js"></script>
</#macro>

<#macro body>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage">
        <div class="w12 h8">
            <div class="w3 h12">
                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">国内外天然气CO<sub>2</sub>排放系数对比</span></div>
                        <div id="chart1" class="qs_body"></div>
                    </div>
                </div>
                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气企业CO<sub>2</sub>排放量趋势</span><div id="chart2_comb" class="qs_comb" style="width:100px;"></div></div>
                        <div id="chart2" class="qs_body"></div>
                    </div>
                </div>
            </div>
            <div class="w9 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">气代煤与气代油增长情况</span></div>
                    <div id="main" class="w12 qs_body"></div>
                </div>
            </div>
        </div>
        <div class="w12 h4">
            <div class="w4 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">低碳科技支出与总支出占比</span><div id="chart3_comb" class="qs_comb" style="width:100px;"></div></div>
                    <div id="chart3" class="qs_body"></div>
                </div>
            </div>
            <div class="w4 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">低碳技术研发人员与产业人员占比</span><div id="chart4_comb" class="qs_comb" style="width:100px;"></div></div>
                    <div id="chart4" class="qs_body"></div>
                </div>
            </div>
            <div class="w4 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title2">低碳技术经费投入情况</span><div id="chart5_comb" class="qs_comb" style="width:100px;"></div></div>
                    <div id="chart5" class="qs_body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</#macro>