<title>能源智慧信息平台</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link href="${host}/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="${host}/static/font/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="${host}/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="${host}/static/theme/znrh/style.css" rel="stylesheet" type="text/css" />
<link href="${host}/static/theme/znrh/${goods!"elec"}/style.css" rel="stylesheet" type="text/css" />
<link href="${host}/static/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="${host}/static/lib/jquery.min.js" type="text/javascript"></script>
<script src="${host}/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="${host}/static/lib/echarts/echarts.min.js"></script>
<script src="${host}/static/lib/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
<script src="${host}/static/lib/common.js" type="text/javascript"></script>
<!--<link href="${host}/static/css/animate.min.css" rel="stylesheet">-->
<script type="text/javascript">
	var __host = '${host}';
	var __menu = {'elec':['/module/produce/index','/module/consume/elec','/module/clean/elecIndex','/module/lc/elecIndex','/energy/elec/security','/energy/elec/ha'],'oil':['/module/produce/oilIndex','/module/consume/oil','/module/clean/oilIndex','/module/lc/oilIndex','/energy/oil/security','/energy/oil/ha'],'gas':['/module/produce/gasIndex','/module/consume/gas','/module/clean/gasIndex','/module/lc/gasIndex','/energy/gas/security','/energy/gas/ha'],'coal':['','','','','','']};
	var _mnm = -1, _mnt = '';
	function initMenu(){
		var dt = [{"name":"能源平台",url:"/module/produce/index"},{"name":"国际篇",url:"/module/pattern/index"},{"name":"国内篇",url:"/module/statecn/index"}];
		var str = [];
		for(var i = 0; i <dt.length; i++){
			str.push('<li>','<a href="${host}', dt[i].url,'"><i class="fa fa-fw fa-file-o"></i><span>', dt[i].name , '</span></a>','</li>');
		}
		$("#appmenu").html(str.join(''));
	}
	function initNav(){
		var it = dui.imgtab;
		it(".qnav1");
		it(".qnav2");
	}
	function setCurrPage(){
		var url = location.href.replace('${host}','');
		var a = 0, n0 = $(".qnav2"), t0 = $(".qnav1");
		for(var u in __menu){
			for(var i = 0, l = __menu[u].length; i < l; i++){
				if(__menu[u][i] == url){
					n0[0].setActive(n0.find("li").eq(i));
					t0[0].setActive(t0.find("li").eq(a));
					_mnt = u;
					_mnm = i;
					return;
				}
			}
			a++;
		}
	}
	function gopage(tp, mod){
		var t = tp || _mnt, m = mod == -1 ? _mnm : mod;
		var u = __menu[t][m];
		if(u) gourl('${host}'+u);
	}
	function showMenu(){
		var w = '220px';
		$('.qmenu').toggle();
		if($('.qmenu').is(":hidden")){
			$(".qbody").css("overflow","auto");
			$(".qheader").css("margin-left",0);
			$(".qmain").css("margin-left",0);
		}else{
			$(".qbody").css("overflow","hidden");
			$(".qheader").css("margin-left",w);
			$(".qmain").css("margin-left",w);
		}

	}
	$(document).ready(function(){
		initMenu();
		initNav();
		setCurrPage();
		//localStorage.RollingPlay_ply = "false";//
		RollingPlayNew(__menu);
		$style.setTheme('${goods!"elec"}');
	});
</script>
