<#macro header>
	<div class="qheader clearfix">
		<div class="qheader0">
			<div class="qheader-title1">能源智慧信息平台</div>
		</div>
		<div class="qheader1" style="position: relative;">
			<div class="qmenu-ico" onclick="showMenu();"><img src="${host}/static/theme/znrh/menu.png" /></div>
			<div class="clearfix" style="width:100%;margin-top:30px;">
				<div class="qlogo left">&emsp;</div>
				<div class="left" style="width:calc(100% - 353px);">
					<div class="qnav0" style="width:100%;">
						<ul class="qnav1 clearfix">
							<li class="active">
								<a href="javascript:void(0);" onclick="gopage('elec',-1)"><div>电力</div></a>
							</li>
							<li>
								<a href="javascript:void(0);" onclick="gopage('oil',-1)"><div>石油</div></a>
							</li>
							<li>
								<a href="javascript:void(0);" onclick="gopage('gas',-1)"><div>天然气</div></a>
							</li>
							<li>
								<a href="javascript:void(0);"><div>煤炭</div></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="qheader1">
			<div class="clearfix" style="width:100%;height:30px;padding-right:10px;padding-top:5px;">
				<div class="rollingDiv right"><div id="rollingBtn" class="rollingBtn"><div class="rollingStop">轮播</div><div class="rollingPlay"><span class="rollingTime">60</span>秒</div></div></div>
			</div>
			<div style="width:100%;height:50px;">
				<ul class="qnav2 clearfix right" style="margin-left:0px;">
					<li class="active">
						<a href="javascript:void(0);" onclick="gopage('',0)"><span>生产</span></a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="gopage('',1)"><span>消费</span></a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="gopage('',2)"><span>清洁</span></a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="gopage('',3)"><span>低碳</span></a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="gopage('',4)"><span>安全</span></a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="gopage('',5)"><span>高效</span></a>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="qmenu" style="display:none;"><ul id="appmenu" class="sidenav"></ul></div>
</#macro>

<!DOCTYPE html>
<html>
<head>
	<#include "/inc/baseInclude.html" />
	<#if head?exists>
		<@head />
	</#if>
</head>

<body class="qbody">
<@header />
<#if body?exists>
	<@body/>
</#if>
</body>
</html>