<#assign goods="oil" />
<#include "/inc/base.html" />
<#macro head>
<script src="${host}/static/lib/echarts/echarts-gl.js"></script>
<script src="${host}/static/js/energy/oil/oil_ha.js"></script>
<link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
<script src="${host}/static/lib/echarts/map/world.js"></script>
<style>
    .box{position:relative;}
    .tabbtn{position:absolute;z-index:11;top:0px;left:0px;}
    .change{
        width: 68px;height: 24px;float: right;margin-right: 20px;z-index:10;
    }
</style>
</#macro>

<#macro body>

<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage"  style="margin-top: 2px">

        <div class="w12 h8">

            <div class="w4 h12">

                <div class="w12 h6">
                    <div class="qpanel">
                        <!--<div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国石油开采综合能耗对比</span></div>-->
                        <div class="tabbtn check_btn_grp check_btn_grp_float_left" style="float:none;z-index:10"><!-- 35PX -->
                            <div onclick="changeMap('nh')" id = "nh" class="c check_btn_option_status_l check_btn_option_checked">能耗</div>
                            <div onclick="changeMap('dh')" id = "dh" class="c check_btn_option_status_r ">电耗</div>
                        </div>
                        <div id="chart1" class="w12 h12 qpanel0"></div>
                    </div>
                </div>

                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">原油加工综合能耗对比</span></div>
                        <div id="chart2" class="qs_body"></div>
                    </div>
                </div>

            </div>

            <div class="box w8 h12">
                <div class="qs_header">
                    <div class="tabbtn check_btn_grp check_btn_grp_float_left" style="float:none;z-index:10"><!-- 35PX -->
                        <div onclick="changeMain('炼油', 'd1')" id = "d1" class="d check_btn_option_status_l check_btn_option_checked " >炼油</div>
                        <div onclick="changeMain('乙烯', 'd2')" id = "d2" class="d check_btn_option_status_r " >乙烯</div>
                    </div>
                    <div id = "select_main" class = "change"></div>
                </div>
                <div id="main" class="w12 h12 qpanel0"></div>
            </div>

        </div>



        <div class="w12 h4">

            <div class="w4 h12">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title1">&nbsp;</span><span class="qs_title2">全国千万吨炼油化工一体化厂能力占比</span>
                        <div id = "select_chart3" class = "change"></div>
                    </div>
                    <div id="chart3" class="qs_body"></div>
                </div>
            </div>

            <div class="w8 h12">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title1">&nbsp;</span><span class="qs_title2">原油开采效率与加工效率历史趋势</span>
                        <div id = "select_chart4" class = "change"></div>
                    </div>
                    <div id="chart4" class="qs_body"></div>
                </div>
            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
        var d = ["全国","江苏三里港高空建筑防腐","甘肃锦世","江苏艾氟生节能工程技术","江门市融源新材料科技","广西鸿淳环保科技"];
        creatSelect(d,'select_chart3',"全国","changeChart3");

        var e = ["全国", "石油化工", "石油天然气", "海洋石油", "中化集团", "华信能源"];
        creatSelect(e,'select_chart4',"全国","changeChart4");

        var e = ["2014", "2015", "2016", "2017", "2018"];
        creatSelect(e,'select_main',"2018","changeMainDate");
    });
</script>

</#macro>