<#assign goods="oil" />
<#include "/inc/base.html" />
<#macro head>
<script src="${host}/static/lib/echarts/echarts-gl.js"></script>
<script src="${host}/static/js/energy/oil/oil_security.js"></script>
<link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
</#macro>

<#macro body>

<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage"  style="margin-top: 2px">

        <div class="w12 h8">

            <div class="w3 h12">

                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油对外依存度趋势</span></div>
                        <div id="chart1" class="qs_body"></div>
                    </div>
                </div>

                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油进口能力指数</span></div>
                        <div id="chart2" class="qs_body"></div>
                    </div>
                </div>

            </div>

            <div class="w9 h12" style="float:left;">
                <div id="main" class="w12 h12 qpanel0"></div>
            </div>

        </div>



        <div class="w12 h4">

            <div class="w3 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油储备能力</span></div>
                    <div id="chart6" class="qs_body"></div>
                </div>
            </div>

            <div class="w3 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">自给缺口变化</span></div>
                    <div id="chart4" class="qs_body"></div>
                </div>
            </div>

            <div class="w3 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油供需缺口变化</span></div>
                    <div id="chart5" class="qs_body"></div>
                </div>
            </div>

            <div class="w3 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油消费强度与增长率</span></div>
                    <div id="chart3" class="qs_body"></div>
                </div>
            </div>

        </div>

    </div>
</div>

</#macro>