<#include "/inc/base.html" />
<#macro head>
<script src="${host}/static/lib/echarts/echarts-gl.js"></script>
<script src="${host}/static/js/energy/gas/gas_ha.js"></script>
<script src="${host}/static/lib/echarts/map/world.js"></script>
<link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
<style>
    .change{
        width: 68px;height: 24px;float: right;margin-right: 20px;z-index:10;
    }
</style>
</#macro>

<#macro body>

<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage"  style="margin-top: 2px">

        <div class="w12 h8">

            <div class="w4 h12">

                <div class="w12 h6">
                    <div class="qpanel">
                        <!--<div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国天然气开采综合能耗对比</span></div>-->
                        <div class="tabbtn check_btn_grp check_btn_grp_float_left" style="float:none;z-index:10"><!-- 35PX -->
                            <div onclick="changeMap('nh')" id = "nh" class="c check_btn_option_status_l check_btn_option_checked " >能耗</div>
                            <div onclick="changeMap('dh')" id = "dh" class="c check_btn_option_status_r " >电耗</div>
                        </div>
                        <div id="chart1" class="w12 h12 qpanel0"></div>
                    </div>
                </div>

                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header">
                            <span class="qs_title1">&nbsp;</span>
                            <span class="qs_title2">天然气开采率对比与发电效率历史趋势</span>
                        </div>
                        <div id="chart2" class="qs_body"></div>
                    </div>
                </div>

            </div>

            <div class="box w8 h12">
                <div class="tabbtn check_btn_grp check_btn_grp_float_left" style="float:none;z-index:10"><!-- 35PX -->
                    <div onclick="changeMain('储气库工作气量', 'd1')" id = "d1" class="d check_btn_option_status_l check_btn_option_checked " >储气库工作气量</div>
                    <div onclick="changeMain('消费量', 'd2')" id = "d2" class="d check_btn_option_status_r" style="border-bottom-right-radius: 0px;border-top-right-radius: 0px;">消费量  </div>
                    <div onclick="changeMain('调峰能力', 'd3')" id = "d3" class="d check_btn_option_status_r " > 调峰能力 </div>
                </div>
                <div id="main" class="w12 h12 qpanel0"></div>
            </div>

        </div>



        <div class="w12 h4">

            <div class="w4 h12">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title1">&nbsp;</span>
                        <span class="qs_title2">煤层气开采能力增长趋势</span>
                    </div>
                    <div id="chart3" class="qs_body"></div>
                </div>
            </div>

            <div class="w4 h12">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title1">&nbsp;</span>
                        <span class="qs_title2">页岩气开采能力增长趋势</span>
                    </div>
                    <div id="chart4" class="qs_body"></div>
                </div>
            </div>

            <div class="w4 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气水合物开采能力增长趋势</span></div>
                    <div id="chart5" class="qs_body"></div>
                </div>
            </div>

        </div>

    </div>
</div>


</#macro>