<#assign goods="gas" />
<#include "/inc/base.html" />
<#macro head>
<script src="${host}/static/lib/echarts/echarts-gl.js"></script>
<script src="${host}/static/lib/echarts/map/china.js"></script>
<script src="${host}/static/js/energy/gas/gas_security.js"></script>
<link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
</#macro>

<#macro body>

<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage"  style="margin-top: 2px">

        <div class="w12 h8">

            <div class="w3 h12">

                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气对外依存度趋势</span></div>
                        <div id="chart1" class="qs_body"></div>
                    </div>
                </div>

                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气储备接替率趋势</span></div>
                        <div id="chart2" class="qs_body"></div>
                    </div>
                </div>

            </div>

            <div class="box w6 h12">
                <div id="main" class="w12 h12 qpanel0"></div>
            </div>

            <div class="w3 h12">

                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气进口能力指数</span></div>
                        <div id="chart3" class="qs_body"></div>
                    </div>
                </div>

                <div class="w12 h6">
                    <div class="qpanel">
                        <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气价格波动系数</span></div>
                        <div id="chart4" class="qs_body"></div>
                    </div>
                </div>

            </div>

        </div>



        <div class="w12 h4">

            <div class="w3 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气储备能力</span></div>
                    <div id="chart5" class="qs_body"></div>
                </div>
            </div>

            <div class="w3 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气供需比趋势</span></div>
                    <div id="chart6" class="qs_body"></div>
                </div>
            </div>

            <div class="w3 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中美人均天然气消费对比</span></div>
                    <div id="chart7" class="qs_body"></div>
                </div>
            </div>

            <div class="w3 h12">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气消费与产量增长率对比</span></div>
                    <div id="chart8" class="qs_body"></div>
                </div>
            </div>

        </div>

    </div>
</div>

</#macro>