<#include "/inc/base.cq.html" />
<#macro head>
    <link href="${host}/static/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <script src="${host}/static/lib/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="${host}/static/js/market/price.js"></script>
    <style>
        .qg-panel{overflow:hidden;position: relative;background-color:rgba(12, 17, 29,0.65);border-radius:5px;}
        .qtable{}  .qt{table-layout:fixed}
        .qtable .hover { background-color: #151d2f; }
        .qtable th ,.qt th{width:100px;height:30px;color:#61ffff;padding-left:10px;}
        .qtable td, .qt td{width:100px;height:30px;color:#36b8ff;padding-left:10px;}
        .qg-box{box-sizing:content-box;position:relative;}
        .qg-line{display: inline-block;vertical-align:top;}
        .qg-header{border-bottom-width:1px;}
        .qg-header1{border-width: 0 1px 0 0;}
        .qg-header2{overflow:hidden;border-width: 0 1px 0 0;}/*white-space: nowrap;*/
        .qg-body1{border-width: 0 1px 0 0;overflow: hidden;}
        .qg-body2{overflow: auto;}
        .qs_body1{height:100%;}
        div.qpanelx{width:100%;margin:0 0 10px 0;}
    </style>
</#macro>

<#macro body>
<@topbar title="国际篇">
    <div class="btn-group" style="width:70px;">
        <button class="btn btn-default barbtn" type="button" onclick="gourl('../pattern/index')">储量分布</button>
    </div>
    <div class="btn-group" style="width:70px;">
        <button class="btn btn-default barbtn" type="button" onclick="gourl('../pattern/supply')">供给格局</button>
    </div>
    <div class="btn-group" style="width:70px;">
        <button class="btn btn-default barbtn" type="button" onclick="gourl('../pattern/require')">需求态势</button>
    </div>
    <div class="btn-group" style="width:70px;">
        <button class="btn btn-default barbtn" type="button" onclick="gourl('../pattern/store')">库存监测</button>
    </div>
    <div class="btn-group" style="width:70px;">
        <button class="btn btn-default barbtn" type="button" onclick="gourl('../market/index')">市场总体</button>
    </div>
    <div class="btn-group" style="width:70px;">
        <button class="btn btn-primary barbtn" type="button" onclick="gourl('../market/price')">产品动态</button>
    </div>
    <div class="btn-group" style="width:70px;">
        <button class="btn btn-default barbtn" type="button" onclick="gourl('../market/finance')">金融市场</button>
    </div>
</@topbar>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage">
      	<div class="col-sm-4 h12">
            <div class="w12 h4">
                <div class="qpanel qpanelx">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">能源产品价格趋势</span></div>
                    <div id="chart1" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h8">
                <div id="table1" class="qs_body1 qg-panel"></div>
            </div>
        </div>
        <div class="col-sm-4 h12">
            <div class="w12 h4">
                <div class="qpanel qpanelx">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">能源产品价差趋势</span></div>
                <div id="chart2" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h8">
                <div id="table2" class="qs_body1 qg-panel"></div>
            </div>
        </div>
        <div class="col-sm-4 h12">
            <div class="w12 h4">
                <div class="qpanel qpanelx">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">能源产品开工率</span></div>
                    <div id="chart3" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h8">
                <div id="table3" class="qs_body1 qg-panel"></div>
            </div>
        </div>
    </div>
</div>
</#macro>