<#include "/inc/base.html" />
<#macro head>
<script src="${host}/static/lib/echarts/extension/ecStat.min.js"></script>
<script src="${host}/static/js/produce/index.js"></script>
<style>
    .overw{
        width:33.333333% !important;
    }

    .clean_power{
        width:48% !important;
        float:left;
    }

    .main_order_bg{
        background-repeat: no-repeat;
        background-position: 50%;
        background-attachment: fixed;
        background-size: 100% 100%;padding: 0;
        background-image: url('${host}/static/theme/green/produce/orderbg.png');
        color:white;
        font-weight: bold;
        position:relative;
    }

    .main_show_tabs{
        width:100%;
        height:30px;
        margin:20px 0 0 10px;
    }

    .main_order_type{
        width:100%;
        height:30px;
    }

    .main_show_tab_data{
        margin-right: 20px;
        float: left;
    }

    .main_show_type{
        height:30px;
        line-height: 35px;
        float: left;
        margin-right:20px;
        font-weight:normal;
        cursor: pointer;
        color:#2b88ff;
    }

    .main_show_type>span{
        margin:0 10px 0 30px;
    }

    .main_show_power{

        background-size: 100% 100%;padding: 0;
        background-image: url('${host}/static/theme/green/produce/powerratio.png');
    }

    .main_show_power:hover,.main_show_power_checked{
        background-image: url('${host}/static/theme/green/produce/powerratiocheck.png');
        color:#52fcfc;
    }

    .main_show_installed{
        background-size: 100% 100%;padding: 0;
        background-image: url('${host}/static/theme/green/produce/installcount.png');
    }

    .main_show_installed:hover,.main_show_installed_checked{
        background-image: url('${host}/static/theme/green/produce/installcountcheck.png');
        color:#52fcfc;
    }

    .main_show_tab_before{
        position:relative;
        /*margin:50px auto;*/
        margin-top:10px;
        width:10px;
        height:10px;
        box-sizing:border-box;
        background:linear-gradient(45deg, transparent 49.5%, rgb(64,148,255) 49.5%, rgb(64,148,255) 52%, transparent 50%);
        float: left;
    }

    .main_show_tab{
        padding:0 10px 0 5px;
        height:20px;
        border-bottom: 1px solid rgba(64,148,255,1);
        float: left;
        color:#a4d6fe;
        font-size:13px;
        font-weight: normal;
        position: relative;
    }

    .main_show_tab:after{
        content: "";
        width:100%;
        height:3px;
        border-bottom:1px dashed rgba(64,148,255,1);
        position:absolute;
        left:0px;
        top:20px;
    }

    .main_order_name{
        width:60px;
        height:20px;
        font-size:12px;
        cursor: pointer;
        padding-top:5px;
        text-align: center;
        position: absolute;
        z-index: 9999;
    }



    .main_order_name1{
        left:38.5%;
        width:130px;
        height:150px;
        padding-top:20px;
    }

    .main_order_name2{
        left:calc(67.7% - 7.5px);
        height:100px;
    }

    .main_order_name3{
        left:calc(30.5% - 7.5px);
        height:80px;
    }

    .main_order_name4{
        left:calc(28% - 7.5px);
        height:75px;
    }

    .main_order_name5{
        left:calc(70% - 7.5px);
        height:73px;
    }

    .main_order_name6{
        left:calc(12% - 7.5px);
        height:70px;
    }

    .main_order_name7{
        left:calc(15.7% - 7.5px);
        height:65px;
    }

    .main_order_name8{
        left:calc(52% - 7.5px);
        height:57px;
    }

    .main_order_name9{
        left:calc(47.5% - 7.5px);
        height:50px;
    }

    .main_order_name10{
        left:calc(80.5% - 7.5px);
        height:48px;
    }

    .main_order_name11{
        position: absolute;
        left:calc(81% - 7.5px);
        height:47px;
    }

</style>
</#macro>

<#macro body>

<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage">
        <div class="w35 h8">
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title1">&nbsp;</span>
                        <span class="qs_title2">全国发电量与装机量对比</span>
                        <div id="installAndGeneration_comb" class="qs_comb"></div>

                    </div>
                    <div id="energyRatio" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">发电设备累计平均利用小时对比</span>
                        <div id="deviceUsedRatio_comb" class="qs_comb"></div>
                    </div>
                    <div id="deviceUsedRatio" class="qs_body"></div>
                </div>
            </div>
        </div>
        <div class="w5 h8">
            <div class="w12 h12" style="background-color: rgba(0,0,0,0)">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">清洁能源发电情况</span>
                    <div id="cleanPowerInfos_comb" class="qs_comb"></div>
                </div>
                <div class="qs_body main_order_bg">
                    <div class="main_show_tabs">
                        <div class="main_show_tab_data">
                            <div class="main_show_tab_before"></div>
                            <div class="main_show_tab">弃光:<span id="qg">0%</span></div>
                        </div>
                        <div class="main_show_tab_data">
                            <div class="main_show_tab_before"></div>
                            <div class="main_show_tab">弃风:<span id="qf">0%</span></div>
                        </div>
                        <div class="main_show_tab_data">
                            <div class="main_show_tab_before"></div>
                            <div class="main_show_tab">弃水:<span id="qs">0%</span></div>
                        </div>
                        <div class="main_show_tab_data">
                            <div class="main_show_tab_before"></div>
                            <div class="main_show_tab">弃核:<span id="qhn">0%</span></div>
                        </div>
                    </div>

                    <div class="main_order_name main_order_name1" index="0"></div>
                    <div class="main_order_name main_order_name2" index="1"></div>
                    <div class="main_order_name main_order_name3" index="2"></div>
                    <div class="main_order_name main_order_name4" index="3"></div>
                    <div class="main_order_name main_order_name5" index="4"></div>
                    <div class="main_order_name main_order_name6" index="5"></div>
                    <div class="main_order_name main_order_name7" index="6"></div>
                    <div class="main_order_name main_order_name8" index="7"></div>
                    <div class="main_order_name main_order_name9" index="8"></div>
                    <div class="main_order_name main_order_name10" index="9"></div>
                    <div class="main_order_name main_order_name11" index="10"></div>


                    <div class="main_order_type">
                        <div orderType="makePower" class=" main_show_type main_show_power main_show_power_checked">
                            <span>发电量占比</span>
                            <!--<div class="main_show_tab_before"></div>-->
                            <!--<div class="main_show_tab">发电量</div>-->
                        </div>
                        <div orderType="installed" class=" main_show_type main_show_installed">
                            <span>装机量占比</span>
                            <!--<div class="main_show_tab_before"></div>-->
                            <!--<div class="main_show_tab">装机量</div>-->
                        </div>
                    </div>

                </div>
                <!--<div id="cleanPowerMaked" class="qs_body clean_power main_order_bg"></div>-->
                <!--<div id="cleanPowerInstall" class="qs_body clean_power"></div>-->
            </div>
        </div>
        <div class="w35 h8">
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">供热消耗原煤量</span>
                        <div id="consume_comb" class="qs_comb"></div>
                    </div>
                    <div id="consume" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">供热量与供热装机容量比</span>
                        <div id="makeWarmingRecord_comb" class="qs_comb"></div>
                    </div>
                    <div id="makeWarmingRecord" class="qs_body"></div>

                </div>
            </div>
        </div>


        <div class="w4 h4 overw">
            <div class="qpanel">
                <div class="qs_header">
                    <span class="qs_title1">&nbsp;</span>
                    <span class="qs_title2">装机容量排名</span>
                    <div id="installCapacity_comb" class="qs_comb"></div>
                </div>
                <div id="installCapacity" class="qs_body"></div>

            </div>
        </div>
        <div class="w4 h4 overw">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">发电量排名</span>
                    <div id="powerMaked_comb" class="qs_comb"></div>
                </div>
                <div id="powerMaked" class="qs_body"></div>

            </div>
        </div>
        <div class="w4 h4 overw">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">上网电量排名</span>
                    <div id="internetUsed_comb" class="qs_comb"></div>
                </div>
                <div id="internetUsed" class="qs_body"></div>

            </div>
        </div>

    </div>


</div>
</#macro>