<#include "/inc/base.html" />
<#macro head>
<script src="${host}/static/lib/echarts/extension/ecStat.min.js"></script>
<script src="${host}/static/js/produce/index.js"></script>
<style>
    .overw{
        width:33.333333% !important;
    }

    .clean_power{
        width:48% !important;
        float:left;
    }
</style>
</#macro>

<#macro body>
<@topbar title="国内篇" tab="<div class='circlebox'><div class='circle1' title='电力' onclick=\"gourl('index')\">电力</div><div class='circle1' title='石油' onclick=\"gourl('oilIndex')\">石油</div><div class='circle' title='天然气' onclick=\"gourl('gasIndex')\">天然气</div></div>">
<div class="btn-group" style="width:70px;">
    <button class="btn btn-primary barbtn" type="button" onclick="gourl('index')">供需态势</button>
</div>
<div class="btn-group" style="width:70px;">
    <button class="btn btn-default barbtn" type="button" onclick="gourl('market')">市场监测</button>
</div>
<div class="btn-group" style="width:70px;">
    <button class="btn btn-default barbtn" type="button" onclick="gourl('invest')">能源投资</button>
</div>
<div class="btn-group" style="width:70px;">
    <button class="btn btn-default barbtn" type="button" onclick="gourl('main')">市场主体</button>
</div>
<div class="btn-group" style="width:70px;">
    <button class="btn btn-default barbtn" type="button" onclick="gourl('trade')">贸易发展</button>
</div>
<div class="btn-group" style="width:70px;">
    <button class="btn btn-default barbtn" type="button" onclick="gourl('security')">能源安全</button>
</div>
<div class="btn-group" style="width:70px;">
    <button class="btn btn-default barbtn" type="button" onclick="gourl('opinions')">能源舆情</button>
</div>
</@topbar>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage">
        <div class="w35 h8">
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title1">&nbsp;</span>
                        <span class="qs_title2">全国发电量与装机量对比</span>
                        <div class="right">
                            <select id="installAndGeneraSelected" class="chart-selector" onchange="installAndGeneration('select',this)">
                                <option>全国</option>
                                <option>国电投</option>
                                <option>中国华能集团</option>
                                <option>中国大唐集团公司</option>
                                <option>中国华电集团公司</option>
                                <option>中国国电集团公司</option>
                                <option>国投电力</option>
                                <option>国华电力</option>
                                <option>华润电力</option>
                                <option>中广核</option>
                                <option>中国神华</option>
                            </select>
                        </div>

                    </div>
                    <div id="energyRatio" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">发电设备累计平均利用小时对比</span>
                        <div class="right">
                            <select id="deviceUsedRatioSelected" class="chart-selector" onchange="deviceUsedRatio('select',this)">
                                <!--<option>2017-1</option>-->
                                <!--<option>2017-2</option>-->
                                <!--<option>2017-3</option>-->
                                <!--<option>2017-4</option>-->
                                <!--<option>2017-5</option>-->
                                <!--<option>2017-6</option>-->
                                <!--<option>2017-7</option>-->
                                <!--<option>2017-8</option>-->
                                <!--<option>2017-9</option>-->
                                <!--<option>2017-10</option>-->
                                <!--<option>2017-11</option>-->
                                <!--<option>2017-12</option>-->
                                <!--<option>2018-1</option>-->
                                <!--<option>2018-2</option>-->
                                <!--<option>2018-3</option>-->
                                <!--<option>2018-4</option>-->
                                <!--<option>2018-5</option>-->
                                <!--<option>2018-6</option>-->
                                <option>2018-7</option>
                                <option>2018-8</option>
                                <option>2018-9</option>
                                <option>2018-10</option>
                                <option>2018-11</option>
                                <option>2018-12</option>
                            </select>
                        </div>
                    </div>
                    <div id="deviceUsedRatio" class="qs_body"></div>
                </div>
            </div>
        </div>
        <div class="w5 h8">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">清洁能源发电情况</span>
                    <div class="right">
                        <select id="cleanPowerSelected" class="chart-selector" onchange="cleanPowerMaked('select',this)">
                            <!--<option>2017-1</option>-->
                            <!--<option>2017-2</option>-->
                            <!--<option>2017-3</option>-->
                            <!--<option>2017-4</option>-->
                            <!--<option>2017-5</option>-->
                            <!--<option>2017-6</option>-->
                            <!--<option>2017-7</option>-->
                            <!--<option>2017-8</option>-->
                            <!--<option>2017-9</option>-->
                            <!--<option>2017-10</option>-->
                            <!--<option>2017-11</option>-->
                            <!--<option>2017-12</option>-->
                            <!--<option>2018-1</option>-->
                            <!--<option>2018-2</option>-->
                            <!--<option>2018-3</option>-->
                            <!--<option>2018-4</option>-->
                            <!--<option>2018-5</option>-->
                            <!--<option>2018-6</option>-->
                            <!--<option>2018-7</option>-->
                            <!--<option>2018-8</option>-->
                            <!--<option>2018-9</option>-->
                            <!--<option>2018-10</option>-->
                            <option>2018-11</option>
                            <option>2018-12</option>
                        </select>
                    </div>
                </div>
                <div id="cleanPowerMaked" class="qs_body clean_power"></div>
                <div id="cleanPowerInstall" class="qs_body clean_power"></div>
            </div>
        </div>
        <div class="w35 h8">
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">供热量与供热装机容量比</span>
                        <div class="right">
                            <select id="makeWarmingRecordSelected" class="chart-selector" onchange="makeWarmingRecord('select',this)">
                                <!--<option>2017-1</option>-->
                                <!--<option>2017-2</option>-->
                                <!--<option>2017-3</option>-->
                                <!--<option>2017-4</option>-->
                                <!--<option>2017-5</option>-->
                                <!--<option>2017-6</option>-->
                                <!--<option>2017-7</option>-->
                                <!--<option>2017-8</option>-->
                                <!--<option>2017-9</option>-->
                                <!--<option>2017-10</option>-->
                                <!--<option>2017-11</option>-->
                                <!--<option>2017-12</option>-->
                                <!--<option>2018-1</option>-->
                                <!--<option>2018-2</option>-->
                                <!--<option>2018-3</option>-->
                                <!--<option>2018-4</option>-->
                                <!--<option>2018-5</option>-->
                                <!--<option>2018-6</option>-->
                                <option>2018-7</option>
                                <option>2018-8</option>
                                <option>2018-9</option>
                                <option>2018-10</option>
                                <option>2018-11</option>
                                <option>2018-12</option>
                            </select>
                        </div>
                    </div>
                    <div id="makeWarmingRecord" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">供热消耗原煤量</span>
                        <div class="right">
                            <select id="consumeSelected" class="chart-selector" onchange="consume('select',this)">
                                <!--<option>2017-1</option>-->
                                <!--<option>2017-2</option>-->
                                <!--<option>2017-3</option>-->
                                <!--<option>2017-4</option>-->
                                <!--<option>2017-5</option>-->
                                <!--<option>2017-6</option>-->
                                <!--<option>2017-7</option>-->
                                <!--<option>2017-8</option>-->
                                <!--<option>2017-9</option>-->
                                <!--<option>2017-10</option>-->
                                <!--<option>2017-11</option>-->
                                <!--<option>2017-12</option>-->
                                <!--<option>2018-1</option>-->
                                <!--<option>2018-2</option>-->
                                <!--<option>2018-3</option>-->
                                <!--<option>2018-4</option>-->
                                <!--<option>2018-5</option>-->
                                <!--<option>2018-6</option>-->
                                <option>2018-7</option>
                                <option>2018-8</option>
                                <option>2018-9</option>
                                <option>2018-10</option>
                                <option>2018-11</option>
                                <option>2018-12</option>
                            </select>

                        </div>
                    </div>
                    <div id="consume" class="qs_body"></div>
                </div>
            </div>
        </div>


        <div class="w4 h4 overw">
            <div class="qpanel">
                <div class="qs_header">
                    <span class="qs_title1">&nbsp;</span>
                    <span class="qs_title2">装机容量排名</span>
                    <div class="right">
                        <select id="installCapacitySelect" class="chart-selector" onchange="installCapacity('select',this)">
                            <!--<option>2017-1</option>-->
                            <!--<option>2017-2</option>-->
                            <!--<option>2017-3</option>-->
                            <!--<option>2017-4</option>-->
                            <!--<option>2017-5</option>-->
                            <!--<option>2017-6</option>-->
                            <!--<option>2017-7</option>-->
                            <!--<option>2017-8</option>-->
                            <!--<option>2017-9</option>-->
                            <!--<option>2017-10</option>-->
                            <!--<option>2017-11</option>-->
                            <!--<option>2017-12</option>-->
                            <!--<option>2018-1</option>-->
                            <!--<option>2018-2</option>-->
                            <!--<option>2018-3</option>-->
                            <!--<option>2018-4</option>-->
                            <!--<option>2018-5</option>-->
                            <!--<option>2018-6</option>-->
                            <option>2018-7</option>
                            <option>2018-8</option>
                            <option>2018-9</option>
                            <option>2018-10</option>
                            <option>2018-11</option>
                            <option>2018-12</option>
                        </select>
                    </div>
                </div>
                <div id="installCapacity" class="qs_body"></div>

            </div>
        </div>
        <div class="w4 h4 overw">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">发电量排名</span>
                    <div class="right">
                        <select id="powerMakedSelected" class="chart-selector" onchange="powerMaked('select',this)">
                            <!--<option>2017-1</option>-->
                            <!--<option>2017-2</option>-->
                            <!--<option>2017-3</option>-->
                            <!--<option>2017-4</option>-->
                            <!--<option>2017-5</option>-->
                            <!--<option>2017-6</option>-->
                            <!--<option>2017-7</option>-->
                            <!--<option>2017-8</option>-->
                            <!--<option>2017-9</option>-->
                            <!--<option>2017-10</option>-->
                            <!--<option>2017-11</option>-->
                            <!--<option>2017-12</option>-->
                            <!--<option>2018-1</option>-->
                            <!--<option>2018-2</option>-->
                            <!--<option>2018-3</option>-->
                            <!--<option>2018-4</option>-->
                            <!--<option>2018-5</option>-->
                            <!--<option>2018-6</option>-->
                            <option>2018-7</option>
                            <option>2018-8</option>
                            <option>2018-9</option>
                            <option>2018-10</option>
                            <option>2018-11</option>
                            <option>2018-12</option>
                        </select>
                    </div>
                </div>
                <div id="powerMaked" class="qs_body"></div>

            </div>
        </div>
        <div class="w4 h4 overw">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">上网电量排名</span>
                    <div class="right">
                        <select id="internetUsedSelected" class="chart-selector" onchange="internetUsed('select',this)">
                            <!--<option>2017-1</option>-->
                            <!--<option>2017-2</option>-->
                            <!--<option>2017-3</option>-->
                            <!--<option>2017-4</option>-->
                            <!--<option>2017-5</option>-->
                            <!--<option>2017-6</option>-->
                            <!--<option>2017-7</option>-->
                            <!--<option>2017-8</option>-->
                            <!--<option>2017-9</option>-->
                            <!--<option>2017-10</option>-->
                            <!--<option>2017-11</option>-->
                            <!--<option>2017-12</option>-->
                            <!--<option>2018-1</option>-->
                            <!--<option>2018-2</option>-->
                            <!--<option>2018-3</option>-->
                            <!--<option>2018-4</option>-->
                            <!--<option>2018-5</option>-->
                            <!--<option>2018-6</option>-->
                            <!--<option>2018-7</option>-->
                            <!--<option>2018-8</option>-->
                            <!--<option>2018-9</option>-->
                            <!--<option>2018-10</option>-->
                            <option>2018-11</option>
                            <!--<option>2018-12</option>-->
                        </select>
                    </div>
                </div>
                <div id="internetUsed" class="qs_body"></div>

            </div>
        </div>

    </div>


</div>
</#macro>