<#assign goods="oil" />
<#include "/inc/base.html" />
<#macro head>
<script src="${host}/static/lib/echarts/echarts-gl.js"></script>
<script src="${host}/static/lib/echarts/map/china.js"></script>
<script src="${host}/static/js/produce/oilIndex.js"></script>
<link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
<style>
    .box{position:relative;}
    .tabbtn{position:absolute;z-index:11;top:0px;left:0px;}
</style>
</#macro>

<#macro body>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage">
        <div class="w3 h8">
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title1">&nbsp;</span>
                        <span class="qs_title2">中国石油储采比趋势</span>
                    </div>
                    <div id="chart1" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header">
                        <span class="qs_title1">&nbsp;</span>
                        <span class="qs_title2">中国储量、产量占世界排名</span>
                        <!--<span class="qs_title2">asdasd</span>-->
                        <div style="position: absolute;right:10px;top:4px;z-index:10000">
                            <select id="near10OrderSelected" class="chart-selector" onchange="near10Order('select',this)">
                                <option value="储量">储量</option>
                                <option value="产量">产量</option>
                            </select>
                        </div>
                    </div>

                    <div id="near10Order" class="qs_body"></div><!--竞价申报价格正态分布-->
                </div>
            </div>
        </div>
        <div class="box w6 h8">
            <div class="tabbtn check_btn_grp check_btn_grp_float_left" style="float:none;z-index:10"><!-- 35PX -->
                <div onclick="changeMap('c1')" id = "c1" class="c check_btn_option_status_l check_btn_option_checked " >储量</div>
                <div onclick="changeMap('c2')" id = "c2" class="c check_btn_option_status_r" style="border-bottom-right-radius: 0px;border-top-right-radius: 0px;">产量  </div>
                <div onclick="changeMap('c3')" id = "c3" class="c check_btn_option_status_r " >消费量  </div>
            </div>
            <div id="main" class="w12 h12 qpanel0"></div>
        </div>

        <div class="w3 h8">
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国TOP10油田产量排名</span></div>
                    <div id="cnTop10Order" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">全球TOP10原油生产企业产量</span></div>
                    <div id="worldTop10Order" class="qs_body"></div>
                </div>
            </div>
        </div>


        <div class="w3 h4">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国原油加工能力占世界排名</span></div>
                <div id="machiningTop10Order" class="qs_body"></div>

            </div>
        </div>
        <div class="w3 h4">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国原油加工主要产品产量</span>
                    <div class="right">
                        <select id="machiningCountSelected" class="chart-selector" onchange="machiningCount('select',this)">
                            <option>2000</option>
                            <option>2010</option>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                        </select>
                    </div>
                </div>
                <div id="machiningCount" class="qs_body"></div>

            </div>
        </div>
        <div class="w3 h4">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国石油生产指数PI趋势</span></div>
                <div id="chart2" class="qs_body"></div>

            </div>
        </div>
        <div class="w3 h4">
            <div class="qpanel">
                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">全球TOP10原油加工企业排名</span></div>
                <div id="chart4" class="qs_body"></div>

            </div>
        </div>

    </div>


</div>
</#macro>