<#include "/inc/base.html" />
<#macro head>
    <script src="${host}/static/lib/echarts/echarts-gl.min.js"></script>
    <script src="${host}/static/lib/echarts/map/china.js"></script>
    <script src="${host}/static/js/motion/state.js"></script>
    <link href="${host}/static/css/motion/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="${host}/static/font/font-awesome/css/font-awesome.min.css">
                        
    <style>
        .pp1{height:47.4%;padding:20px 0 0 20px;}
        .tt1{font-size:1.2em;background-image: -webkit-gradient(linear,0 0,0 bottom,from(#fff),to(#38b8ff));color: #fafafa;font-weight: 900;-webkit-background-clip: text;-webkit-text-fill-color:transparent;}
        .nn1{color:#ffd312;font-size:2.4em;margin-top: 6px;}
        .uu1{color:#fff;font-size:0.4em;}
    </style>
</#macro>

<#macro body>
<@topbar title="重庆篇">
    <div class="btn-group" style="width:80px;">
        <button class="btn btn-primary barbtn" type="button" onclick="gourl('state')">发展态势</button>
    </div>
    <div class="btn-group" style="width:80px;">
        <button class="btn btn-default barbtn" type="button" onclick="gourl('mounthReport')">月度监测</button>
    </div>
</@topbar>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="gc row qpage">
        <div class="gi-left x0 w3 h10">
             <div class="w12 h5">
                <div class="qpanel">
                    <div class="pp1 col-sm-12">
                         <div class = "col-sm-4" ><i class= "fa fa-cny" style="color:#ffd312;font-size:5.8em;"></i></div>
                        <div class = "col-sm-8" style="margin-top: 8px;margin-left:0px;">
	                        <div class="tt1">总交易金额</div>
	                        <div class="nn1">25.9<span class="uu1">(亿元)</span></div>
                        </div>
                    </div>
                    <div class="pp1 col-sm-12">
                    	<div class = "col-sm-4" ><i class= "fa fa-user-o" style="color:#ffd312;font-size:4.8em;margin-left: -5px;"></i></div>  
                        <div class = "col-sm-8" style="margin-top: -11%;margin-left: 0px;">
                        	<div class="tt1">登记会员数</div>
                        	<div class="nn1">1279</div>
                        </div>
                        <div class = "col-sm-8" style="margin-top: 3%;margin-left: 0px;">
                        	<div class="tt1">注册会员数</div>
                        	<div class="nn1">1202</div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="w12 h5">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">LNG与PNG交易量结构</span></div>
                    <div id="chart3" class="qs_body"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 h12">
            <div id="main" class="w12 h12 qpanel0"></div>
        </div>
        <div class="gi-right x9 w3 h10">
             <div class="w12 h5">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">会员数发展前十省份</span></div>
                    <div id="chart1" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h5">
                <div class="qpanel">
                    <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">会员增长变化前十省份</span></div>
                    <div id="chart2" class="qs_body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</#macro>