<#include "/inc/base.html" />
<#macro head>
	 <link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
    <script src="${host}/static/lib/echarts/echarts-gl.js"></script>
   <script src="${host}/static/lib/echarts/map/china.js"></script>
    <script src="${host}/static/js/consume/elec.js"></script>
    <style>
       .box{position:relative;}
       .tabbtn{position:absolute;z-index:11;top:0px;left:0px;}
       .change{
       width: 76px;height: 24px;float: right;margin-right: 20px;z-index:1000;
       }
     </style>
</#macro>

<#macro body>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage" >
     	<div class="w12 h8">
     	 <div class="w3 h12">
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">全国供售电量趋势</span></div>
	                <div id="chart1" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header">
	                	<span class="qs_title1">&nbsp;</span><span class="qs_title2">全社会用电量结构</span>
	                	<div id = "select_chart2" class = "change" style="z-index:10">
	                	</div>
	                </div>
	                <div id="chart2" class="qs_body"></div>
                </div>
            </div>
         </div>	
      	 <div class="box w6 h12">
	        	<div class="qs_header tabbtn check_btn_grp check_btn_grp_float_left" style="float:none;z-index:10"><!-- 35PX -->
                            <div onclick="change12(0)" id = "c1" class="c check_btn_option_status_l check_btn_option_checked " >跨区域</div>
                            <div onclick="change12(1)" id = "c2" class="c check_btn_option_status_r " >跨省 </div>
                            <input id = "ch" type="hidden" value = "main"/>
                            <div id = "change" class = "change">
	                            
	                		</div>
                </div>
	            <div id="main" class="qs_body" style="height: 98%"></div>
	        </div>
      	 <div class="w3 h12">
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">电价趋势</span></div>
	                <div id="chart3" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header">
	                	<span class="qs_title1">&nbsp;</span><span class="qs_title2">获得电力指数</span>
	                	<div id = "select_chart4" class = "change">
	                	</div>
	               	</div>
	                <div id="chart4" class="qs_body"></div>
                </div>
            </div>
         </div>
        </div>
		<div class="w12 h4">
			<div class="w6 h12">
				<div class="qpanel">
					<div class="qs_header">
						<span class="qs_title1">&nbsp;</span><span class="qs_title2">全行业用电排名</span>
						<div id = "select_chart5" class = "change">
	                	</div>
					</div>
					<div id="chart5" class="qs_body"></div>
				</div>
			</div>
			<div class="w6 h12">
				<div class="qpanel">
					<div class="qs_header">
						<span class="qs_title1">&nbsp;</span><span class="qs_title2">分省人均用电排名</span>
						<div id = "select_chart6" class = "change">
	                	</div>
					</div>
					<div id="chart6" class="qs_body"></div>
				</div>
			</div>
        </div>  
    </div>
</div>
<script>
$(document).ready(function() {
    $('.selectpicker').selectpicker();
    var d = ["2018-02","2018-03","2018-04","2018-05","2018-06","2018-07","2018-08","2018-09","2018-10","2018-11"];
    var d2 = ["2009","2010","2011","2012","2013","2014","2015"];
    creatSelect(d,'change','2018-11',"change11");
    creatSelect(d,'select_chart2','2018-11',"change2");
    creatSelect(d,'select_chart4','2018-11',"change4");
    creatSelect(d2,'select_chart5','2015',"change5");
    creatSelect(d,'select_chart6','2018-11',"change6");
       
});
</script>
</#macro>