<#assign goods="elec" />
<#include "/inc/base.html" />
<#macro head>
	 <link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
    <script src="${host}/static/lib/echarts/echarts-gl.js"></script>
   <script src="${host}/static/lib/echarts/map/china.js"></script>
    <script src="${host}/static/js/consume/elec.js"></script>
    <style>
       .box{position:relative;}
       .tabbtn{position:absolute;z-index:11;top:0px;left:0px;}
       .change{
       		width: 68px;height: 24px;float: right;margin-right: 20px;z-index:10;
       }
       
       .main_order_type{
        width:39%;
        height:30px;
        position: absolute;
        bottom: 5%;
        z-index: 50;
    	}
      .main_show_tab_data{
        margin-right: 20px;
        float: left;
    }

    .main_show_type{
        height:30px;
        line-height: 35px;
        float: left;
        margin-right:20px;
        font-weight:normal;
        cursor: pointer;
        color:#2b88ff;
        width:76px;
    }

    .main_show_type>span{
        margin:0 10px 0 30px;
    }

    .main_show_power{

        background-size: 100% 100%;padding: 0;
        background-image: url('${host}/static/theme/green/produce/powerratio.png');
    }

    .main_show_power:hover,.main_show_power_checked{
        background-image: url('${host}/static/theme/green/produce/powerratiocheck.png');
        color:#52fcfc;
    }

    .main_show_installed{
        background-size: 100% 100%;padding: 0;
         background-image: url('${host}/static/theme/green/produce/powerratio.png');
    }

    .main_show_installed:hover,.main_show_installed_checked{
         background-image: url('${host}/static/theme/green/produce/powerratio.png');
        color:#52fcfc;
    }
     </style>
</#macro>

<#macro body>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage" >
     	<div class="w12 h8">
     	 <div class="w3 h12">
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">全国供售电量趋势</span></div>
	                <div id="chart1" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header">
	                	<span class="qs_title1">&nbsp;</span><span class="qs_title2">全社会用电量结构</span>
	                	<div id = "chart2_comb" class = "qs_comb" style="width:68px;">
	                	</div>
	                </div>
	                <div id="chart2" class="qs_body"></div>
                </div>
            </div>
         </div>	
      	 <div class="box w6 h12">
	        	<div class="qs_header tabbtn check_btn_grp check_btn_grp_float_left" style="float:none;z-index:10"><!-- 35PX -->
                            <div onclick="change12(1)" id = "c1" class="c check_btn_option_status_l check_btn_option_checked " >跨区域</div>
                            <div onclick="change12(2)" id = "c2" class="c check_btn_option_status_r " >跨省 </div>
                            <input id = "ch" type="hidden" value = "main"/>
                            <div id = "change" class = "change">
	                		</div>
                </div>
                <div class="main_order_type">
		                        <div orderType="makePower" id = "elec_in" onclick = "elecMode(1)" class=" main_show_type main_show_power main_show_power_checked">
		                            <span>输入</span>
		                        </div>
		                        <div orderType="installed" id = "elec_out" onclick = "elecMode(2)" class=" main_show_type main_show_installed">
		                            <span>输出</span>
		                        </div>
           		</div>
	            <div id="main" class="qs_body" style="height: 98%"></div>
	        </div>
      	 <div class="w3 h12">
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">电价趋势</span></div>
	                <div id="chart3" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header">
	                	<span class="qs_title1">&nbsp;</span><span class="qs_title2">获得电力指数</span>
	               	</div>
	                <div id="chart4" class="qs_body"></div>
                </div>
            </div>
         </div>
        </div>
		<div class="w12 h4">
			<div class="w6 h12">
				<div class="qpanel">
					<div class="qs_header">
						<span class="qs_title1">&nbsp;</span><span class="qs_title2">全行业用电排名</span>
						<div id = "chart5_comb" class = "qs_comb" style="width:100px;">
	                	</div>
					</div>
					<div id="chart5" class="qs_body"></div>
				</div>
			</div>
			<div class="w6 h12">
				<div class="qpanel">
					<div class="qs_header">
						<span class="qs_title1">&nbsp;</span><span class="qs_title2">分省人均用电排名</span>
						<div id = "chart6_comb" class = "qs_comb" style="width:57px;">
	                	</div>
					</div>
					<div id="chart6" class="qs_body"></div>
				</div>
			</div>
        </div>  
    </div>
</div>
<script>
</script>
</#macro>