<#assign goods="gas" />
<#include "/inc/base.html" />
<#macro head>
	 <link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
    <script src="${host}/static/lib/echarts/echarts-gl.js"></script>
   <script src="${host}/static/lib/echarts/map/china.js"></script>
    <script src="${host}/static/js/consume/gas.js"></script>
    <style>
       .box{position:relative;}
       .tabbtn{position:absolute;z-index:11;top:0px;left:0px;}
       .w35{width:28.5%}
       #main{
		    background: url(${host}/static/theme/znrh/gas/gy.png) no-repeat fixed 50%;
		    background-size: 58% 54%;
		    background-position:bottom;
		}
     </style>
</#macro>

<#macro body>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage"  style="margin-top: 2px">
     <div class="w35 h12">
	         <div class="w12 h4">
	            	<div class="qpanel">
		                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气消费量增长</span></div>
		                <div id="chart1" class="qs_body"></div>
	                </div>
	         </div>
	         <div class="w12 h4">
	            	<div class="qpanel">
		                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气季度供需缺口</span></div>
		                <div id="chart2" class="qs_body"></div>
		            </div>    
	            </div>
	        <div class="w12 h4">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国天然气消费行业结构</span></div>
	                <div id="chart3" class="qs_body"></div>
                </div>
            </div>
      </div> 
      <div class="w5 h12">
      	 <div class="box w12 h12">
	            <div id="main" class="w12 h12 qpanel0"></div>
	     </div>
      </div>     
      <div class="w35 h12">
            <div class="w12 h4">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国天然气消费占世界排名
					</span></div>
	                <div id="chart4" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h4">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">国内外天然气价格比较
					</span></div>
	                <div id="chart5" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h4">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">主要消费国终端售价比较</span></div>
	                <div id="chart6" class="qs_body"></div>
                </div>
            </div>
      </div>
    </div>
</div>
</#macro>