<#assign goods="oil" />
<#include "/inc/base.html" />
<#macro head>
	 <link href="${host}/static/css/motion/mounthReport.css" rel="stylesheet">
    <script src="${host}/static/lib/echarts/echarts-gl.js"></script>
   <script src="${host}/static/lib/echarts/map/china.js"></script>
    <script src="${host}/static/js/consume/oil.js"></script>
    <style>
       .box{position:relative;}
       .tabbtn{position:absolute;z-index:11;top:0px;left:0px;}
     </style>
</#macro>

<#macro body>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage" >
     	<div class="w12 h8">
     	 <div class="w3 h12">
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油消费增长趋势</span></div>
	                <div id="chart1" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油分品种制品消费趋势</span></div>
	                <div id="chart2" class="qs_body"></div>
                </div>
            </div>
         </div>	
      	 <div class="box w6 h12">
	           <div class="qs_header"><span class="qs_title2">石油消费分布   (2016)</span></div>
                <div id="main" class="w12 qs_body"></div>
	        </div>
      	 <div class="w3 h12">
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">国内外汽油价格对比（含税价、税负比）</span></div>
	                <div id="chart3" class="qs_body"></div>
                </div>
            </div>
            <div class="w12 h6">
            	<div class="qpanel">
	                <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油及制品价格指数</span></div>
	                <div id="chart4" class="qs_body"></div>
                </div>
            </div>
         </div>
        </div>
		<div class="w12 h4">
			<div class="w4 h12">
				<div class="qpanel">
					<div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油供需缺口分析</span></div>
					<div id="chart5" class="qs_body"></div>
				</div>
			</div>
			<div class="w4 h12">
				<div class="qpanel">
					<div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国石油消费行业结构</span></div>
					<div id="chart6" class="qs_body"></div>
				</div>
			</div>
			<div class="w4 h12">
				<div class="qpanel">
					<div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">中国石油消费占世界排名</span></div>
					<div id="chart7" class="qs_body"></div>
				</div>
			</div>
        </div>  
    </div>
</div>
</#macro>