<#include "/inc/base.cq.html" />
<#macro head>
    <script src="${host}/static/lib/echarts/echarts-gl.js"></script>
    <script src="${host}/static/lib/echarts/map/china.js"></script>
    <script src="${host}/static/data/public/country.json"></script>
    <script src="${host}/static/js/statecn/opinions.js"></script>
</#macro>

<#macro body>
    <@topbar title="国内篇">
	<div class="btn-group" style="width:70px;">
		<button class="btn btn-default barbtn" type="button" onclick="gourl('index')">供需态势</button>
	</div>
	<div class="btn-group" style="width:70px;">
		<button class="btn btn-default barbtn" type="button" onclick="gourl('market')">市场监测</button>
	</div>
	<div class="btn-group" style="width:70px;">
		<button class="btn btn-default barbtn" type="button" onclick="gourl('invest')">能源投资</button>
	</div>
	<div class="btn-group" style="width:70px;">
		<button class="btn btn-default barbtn" type="button" onclick="gourl('main')">市场主体</button>
	</div>
	<div class="btn-group" style="width:70px;">
		<button class="btn btn-default barbtn" type="button" onclick="gourl('trade')">贸易发展</button>
	</div>
	<div class="btn-group" style="width:70px;">
		<button class="btn btn-default barbtn" type="button" onclick="gourl('security')">能源安全</button>
	</div>
	<div class="btn-group" style="width:70px;">
		<button class="btn btn-primary barbtn" type="button" onclick="gourl('opinions')">能源舆情</button>
	</div>
</@topbar>
<div class="qmain container-fluid animated fadeInRight">
    <div id="page" class="row qpage">
		 <div class="w12 h8" >
		   <div class="col-sm-3 h12" style="padding: 0px;">
		   		 <div class="w12 h6">
		   		 	<div class="qpanel">
			   		 	 <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">石油行业新增主体趋势</span></div>
	                		<div id="chart1" class="qs_body"></div>
               		 </div>		
		   		 </div>
		   		  <div class="w12 h6">
		   		  		<div class="qpanel">
			   		  		 <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">天然气行业新增主体趋势</span></div>
	                		<div id="chart2" class="qs_body"></div>
                		</div>
		   		  </div>
		   </div>
		   <div id="main" class="col-sm-9 h12 qpanel0" style="padding: 0px;">
		   </div>
		 </div>
		 <div class="w12 h4">
		 	<div class="w3 h12">
		 		<div class="qpanel">
			 		 <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">能源产业关注度</span></div>
	                <div id="chart3" class="qs_body"></div>
                </div>
		   </div>
		   <div class="w3 h12">
		   		<div class="qpanel">
			   		 <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">能源招投标热点(2018-8)</span></div>
	                <div id="chart4" class="qs_body"></div>
                </div>
		   </div>
		   <div class="w3 h12">
		   		<div class="qpanel">
			   		 <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">能源企业招聘热度</span></div>
	                <div id="chart5" class="qs_body"></div>
                </div>
		   </div>
		   <div class="w3 h12">
		   		<div class="qpanel">
			   		 <div class="qs_header"><span class="qs_title1">&nbsp;</span><span class="qs_title2">能源产业网民满意度</span></div>
	                <div id="chart6" class="qs_body"></div>
                </div>
		   </div>
		 </div>
    </div>
</div>
</#macro>